# Embeddings Verification API

::: naics_embedder.tools.embeddings_verification


